.header {
  height: 7vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #fff;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  margin-top: 0.25rem;
}

.logo path {
  fill: #000;
}

@media only screen and (min-width: 600px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 850px) and (max-height: 450px) {
  .header {
    height: 15vh;
  }
}
